#
# Executables: Never upload an executable for MELCOR or RELAP
#
*.exe


#
# MELCOR Binaries
#
*.ptf
*.dump
*.diag
*.xtnd
*.rst
*.can
*.key
*.dll

#
# MELCOR Directories I use
#
Dumps/
PTS/
Outputs/

#
# RELAP5 Binaries for a Simulation
#
*.r
*.rr
*.p
*.o
*.tfp


